# dependencies
node_modules/
.pnpm-store/

# builds
.next/
dist/
build/
coverage/
.turbo/
*.tsbuildinfo

# environment
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS/editor
.DS_Store
.idea/
.vscode/

# generated
packages/db/generated/
packages/db/prisma/migrations/dev/
